<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatMessage">
            <h2><span jhiTranslate="spingularChatApp.chatMessage.detail.title">Chat Message</span> {{chatMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spingularChatApp.chatMessage.sender">Sender</span></dt>
                <dd>
                    <span>{{chatMessage.sender}}</span>
                </dd>
                <dt><span jhiTranslate="spingularChatApp.chatMessage.reciver">Reciver</span></dt>
                <dd>
                    <span>{{chatMessage.reciver}}</span>
                </dd>
                <dt><span jhiTranslate="spingularChatApp.chatMessage.messageText">Message Text</span></dt>
                <dd>
                    <span>{{chatMessage.messageText}}</span>
                </dd>
                <dt><span jhiTranslate="spingularChatApp.chatMessage.messageTime">Message Time</span></dt>
                <dd>
                    <span>{{chatMessage.messageTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-message', chatMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
